{% extends '../../layout/layout.html'%}

{% block title %} {{ title }} {% endblock %}

{% block head %}
<link rel="stylesheet" href="/styles/book/update.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row title-nav">
        <a href="/">首页</a>
        <a href="/book">图书信息管理</a>
        <span>创建图书</span>
    </div>
    {% include '../../components/form/index.html' %}
</div>
{% endblock %}

{% block foot %}
<script type="module">
    import("/scripts/book/create.js").then(_=>{
        new _.default();
    })
</script>
<script type='nomodule'>
    System.import("/scripts/book/create-bundle.js").then(_=>{
        new _.default();
    })
</script>
{% endblock %}